@tailwind base;
@tailwind components;
@tailwind utilities;

.containerReLog {
    height: 600px;
}

.logout:hover {
    background-color: orangered;
}

#spanFilms {
    position: absolute;
    left: 15%;
    margin-bottom: 100px;
    transform: translateX(-50%);
    background-color: black;
    color: aliceblue;
    white-space: nowrap;
    padding: 10px 15px;
    border-radius: 7px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease;
}

#spanFilms::before {
    content: "";
    position: absolute;
    left: 10%;
    top: 100%;
    transform: translateX(-50%);
    border: 15px solid;
    border-color: #000 #0000 #0000 #0000;
}

.films {
    position: relative;
    cursor: pointer;
    border-bottom: 2px dotted;
    padding: 7px;
    font-size: 14px;
    font-weight: bold;
    background-color: blue;
}

.films:hover {
    /* opacity: 1;
    visibility: visible; */
    background-color: orange;
}

.pagination>button:focus {
    background-color: darkgray;
}

div.oculto {
    display: none;
}

div.visible {
    display: block;
}

@media only screen and (max-width: 600px) {
    header h1{
        margin-left: 0.5rem !important;
        margin-right: 0.5rem !important;
        font-size: 1.25rem !important;
        line-height: 1.75rem !important;
    }
}

@media only screen and (max-width: 600px) {
    #menuDesktop{
        display: none;
    }
}

@media only screen and (max-width: 600px) {
    #usuarios{
        display: grid !important;
        /* font-size: 0.75rem !important;
        line-height: 1rem !important;
        padding: 0.25rem 0.5rem !important; */
    }
}

@media only screen and (min-width: 600px) {
    #menuBurguer{
        display: none;
    }
}

#menuBurguer > .dropdown > ul.menu{
    z-index: 9;
}

.hamburger-icon {
    font-size: 24px;
    cursor: pointer;
  }
  
  nav.menu {
    display: none;
  }
  
  nav.menu.open {
    display: block;
  }
  
  .menu ul {
    list-style: none;
    padding: 0;
  }
  
  .menu li {
    margin: 10px 0;
  }

  #mainUsers{
    padding: 10px 5px;
    min-height: 600px;
  }

